<head>
	<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/jquery.flot.js"></script>
</head>
<body>
	<div id="my_id" style="height: 600px;"></div>
	<%= high_chart("my_id", @h) %>


<br />
<br />
<h3>Your scores:</h3>
<p>Score 1:<%= @grades[0] %></p>
<p>Score 2:<%= @grades[1] %></p>
<p>Score 3:<%= @grades[2] %></p>
<p>Score 4:<%= @grades[3] %></p>





</script>
</body>
