
<h1><%= @trial.name %></h1>

<h3>Template Music File</h3>


<h3>Expected</h3>
<% if @trial.expected_wave %>
  <%= @trial.expected_wave.file_file_name %>
<% else %>

  <%= form_for @trial.build_expected_wave, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.file_field :file %>
	<%= f.hidden_field :trial_id, value: @trial.id %>
	<%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h3>Uploaded Music Files</h3>
<% unless @trial.actual_waves.empty? %>
<ul>
  <% @trial.actual_waves.each do |a|%>
  <li><%= a.file_file_name %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @trial.actual_waves.build, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.file_field :file %>
<%= f.hidden_field :trial_id, value: @trial.id %>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>


