
<h1><%= @trial.name %></h1>

</br></br>
<div class = "arena">
<h3>What's the Song?</h3>
<% if @trial.expected_wave %>
<%= @trial.expected_wave.file_file_name %>
<% else %>

<%= form_for @trial.build_expected_wave, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.file_field :file %>
<%= f.hidden_field :trial_id, value: @trial.id %>
<%= f.submit "Submit", class: "btn btn-warning" %>
<% end %>
<% end %>

<h3>Your Attempts</h3>
<% unless @trial.actual_waves.empty? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>   
    <% @trial.actual_waves.each do |a|%>
    <tr>
      <td><%= a.file_file_name %></td>
      <td><!--Heinrich: Put something here--></td>
    </tr>
    <% end %>
  </tbody>   

</table>
<% end %>

<h3>Upload Yourself</h3>
<%= form_for @trial.actual_waves.build, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.file_field :file %>
<%= f.hidden_field :trial_id, value: @trial.id %>
<%= f.submit "Submit", class: "btn btn-warning" %>
<% end %>

<h3><%= link_to 'Record Yourself', new_actual_wave_path + "?trial_id=" + @trial.id.to_s %></h3>
<%= link_to "See the Jury", judge_path, class: "btn btn-large btn-success"%>
</div>
