<%= @trial.name %>

<h3>Expected</h3>

<% if @trial.expected_wave %>
  <%= @trial.expected_wave.file_file_name %>
<% else %>

  <%= form_for @trial.build_expected_wave, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.file_field :file %>
	<%= f.hidden_field :trial_id, value: @trial.id %>
	<%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>


<h3>Trials</h3>
